<div class="row">
  <div class="col-md-12">
    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-default" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" routerLink="./new"><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Client</button>
        </li>
      </ul>
    </ba-card>
    <ba-card title="Clients" baCardClass="with-scroll">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th>ID</th>
            <th>Client</th>
            <th>Information</th>
            <th class="w212"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of pagedClient; trackBy: trackById">
            <td>
              <span class="label label-primary">{{client.id}}</span>
            </td>
            <td class="nowrap">
              <div>{{client.clientName}}</div>
            </td>
            <td class="nowrap">
              <div>{{client.clientUri}}</div>
              <app-tag [tags]="client.scope"></app-tag>
            </td>
            <td>
              <ul class="btn-list clearfix">
                <li>
                  <button type="button" class="btn btn-info" routerLink="./edit/{{client.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                </li>
                <li>
                  <button type="button" class="btn btn-danger" (click)="delete(client.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="totalSize > 10">
        <div class="col-md-12 col-centered">
          <ngb-pagination [collectionSize]="totalSize" [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
        </div>
      </div>
    </ba-card>
  </div>
</div>
