<div class="row">
  <div class="col-md-12">
    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-default" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" routerLink="./new"><i class="fa fa-plus" aria-hidden="true"></i> New Client</button>
        </li>
      </ul>
    </ba-card>
    <ba-card title="Clients" baCardClass="with-scroll">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th>ID</th>
            <th>Scope</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scope of scopes">
            <td>
              <span class="label label-primary">{{scope.id}}</span>
            </td>
            <td class="nowrap">
              <app-tag [tags]="scope.value"></app-tag>
              <div>{{scope.description}}</div>
            </td>
            <td>
              <ul class="btn-list clearfix">
                <li>
                  <button type="button" class="btn btn-info" routerLink="./edit/{{scope.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                </li>
                <li>
                  <button type="button" class="btn btn-danger" (click)="delete(scope.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </ba-card>
  </div>
</div>
