<div class="row">
  <div class="col-md-12">
    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-default" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </li>
        <li>
          <search-panel (filterChange)="filtering($event)"></search-panel>
        </li>
      </ul>
    </ba-card>
    <ba-card title="Sites" baCardClass="with-scroll">
      <table class="table table-hover">
        <thead>
          <tr class="black-muted-bg">
            <th class="w125">ID</th>
            <th>Application</th>
            <th>Expires</th>
            <th class="w124"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of pagedSites; trackBy: trackById">
            <td>
              <span class="label label-primary">{{site.id}}</span>
            </td>
            <td class="nowrap">
              <div>{{site.clientId}}</div>
              <app-tag [tags]="site.allowedScopes"></app-tag>
            </td>
            <td>
              <div>Authorized: {{site.creationDate | date:'medium'}}</div>
              <div>Last accessed: {{site.accessDate | date:'medium'}}</div>
              <div>Expires: {{site.timeoutDate | date:'medium' | expires}}</div>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="revoke(site.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Revoke</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="totalSize > 10">
        <div class="col-md-12">
          <ngb-pagination [collectionSize]="totalSize" [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
        </div>
      </div>
    </ba-card>
  </div>
</div>
