<div class="row">
  <div class="col-md-12">
    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-default" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </li>
      </ul>
    </ba-card>
    <ba-card title="Tokens" baCardClass="with-scroll">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Access Tokens">
          <ng-template ngbTabContent>
            <token-list [tokens]="accessTokens"></token-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Refresh Tokens">
          <ng-template ngbTabContent>
            <token-list [tokens]="refreshTokens"></token-list>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ba-card>
  </div>
</div>
