<!DOCTYPE html>
<html lang=“en” xmlns=“http://www.w3.org/1999/xhtml” xmlns:th=“http://www.thymeleaf.org”>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>"/>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <meta name="_csrf" content="<%= htmlWebpackPlugin.options.metadata.csrf.value %>"/>
  <meta name="_csrf_header" content="<%= htmlWebpackPlugin.options.metadata.csrf.header %>"/>
  <meta name="_role" content="<%= htmlWebpackPlugin.options.metadata.role %>"/>
  <% } else { %>
  <meta name="_csrf" th:content="<%= htmlWebpackPlugin.options.metadata.csrf.value %>"/>
  <meta name="_csrf_header" th:content="<%= htmlWebpackPlugin.options.metadata.csrf.header %>"/>
  <meta name="_role" th:content="<%= htmlWebpackPlugin.options.metadata.role %>"/>
  <% } %>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>" />


</head>

<body>
<app>
</app>

<div id="preloader">
  <div></div>
</div>

<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

</body>
</html>
