<div class="row">
  <div class="col-md-12">

    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-success" (click)="save()"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Save</button>
        </li>
        <li>
          <button type="button" class="btn btn-default" routerLink="/pages/client"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        </li>
      </ul>
    </ba-card>

    <ba-card>
      <ngb-tabset [destroyOnHide]="false">
        <!-- Main -->
        <ngb-tab title="Main">
          <ng-template ngbTabContent>
            <div class="form-horizontal">
              <!--<div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Registered at</label>
                </div>
                <div fxFlex="30%">
                  <label class="form-control-label">(Unknown)</label>
                </div>
              </div>-->

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputClientName">Client Name</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputClientName" placeholder="Human-readable application name" [(ngModel)]="client.clientName">
                  <label>Human-readable application name</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputURI">Redirect URI(s)</label>
                </div>
                <div fxFlex="30%">
                  <edit-list id="inputURI" [(items)]="client.redirectUris"></edit-list>
                  <label>URIs that the client can be redirected to after the authorization page</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputDesc">Description</label>
                </div>
                <div fxFlex="30%">
                  <textarea class="form-control" id="inputDesc" placeholder="Type a description" [(ngModel)]="client.clientDescription"></textarea>
                  <label>Human-readable text description</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputLogo">Logo</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputLogo" placeholder="https://" [(ngModel)]="client.logoUri">
                  <label>URL that points to a logo image, will be displayed on approval page</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputTerm">Terms of Service</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputTerm" placeholder="https://" [(ngModel)]="client.tosUri">
                  <label>URL for the Terms of Service of this client, will be displayed to the user</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputPolicy">Policy Statement</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputPolicy" placeholder="https://" [(ngModel)]="client.policyUri">
                  <label>URL for the Policy Statement of this client, will be displayed to the user</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputHomePage">Home Page</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputHomePage" placeholder="https://" [(ngModel)]="client.clientUri">
                  <label>URL for the client's home page, will be displayed to the user</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputContacts">Contacts</label>
                </div>
                <div fxFlex="30%">
                  <edit-list id="inputContacts" [(items)]="client.contacts"></edit-list>
                  <label>List of contacts for administrators of this client.</label>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
        <!-- END Main -->
        <!-- Access -->
        <ngb-tab title="Access">
          <ng-template ngbTabContent>
            <div class="form-horizontal">

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputScope">Scope</label>
                </div>
                <div fxFlex="30%">
                  <scope-list id="inputScope" [(items)]="client.scope" placeholder="New scope"></scope-list>
                  <label>OAuth scopes this client is allowed to request</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Grant Types</label>
                </div>
                <div fxFlex="30%">
                  <app-checkbox-list [items]="grantTypes" [(model)]="client.grantTypes"></app-checkbox-list>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Response Types</label>
                </div>
                <div fxFlex="30%">
                  <app-checkbox-list [items]="responseTypes" [(model)]="client.responseTypes"></app-checkbox-list>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Subject Type</label>
                </div>
                <div fxFlex="30%">
                  <app-radio-list class="pull-left" name="inputSubjectType" [items]="subjectTypes" [(model)]="client.subjectType" (onChange)="client.subjectType=$event"></app-radio-list>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputIdentifierURI">Sector Identifier URI</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputIdentifierURI" placeholder="https://" [(ngModel)]="client.sectorIdentifierUri">
                  <label>Sector Identifier for JavaScript</label>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- END Access -->
        <!-- Credentials -->
        <ngb-tab title="Credentials">
          <ng-template ngbTabContent>
            <div class="form-horizontal">

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Client Secret</label>
                </div>
                <div fxFlex="30%">
                  <div>
                    <app-checkbox [(checked)]="cbClientSecret" value="cbClientSecret" text="Generate a new client secret?" (onChange)="clientSecretChange()"></app-checkbox>
                    <label>New secret will be generated when you click 'Save'</label>
                  </div>
                  <div *ngIf="!cbClientSecret">
                    <span>Display/edit client secret:</span>
                    <app-checkbox [(checked)]="cbDisplayClientSecret" value="cbDisplayClientSecret" (onChange)="displayClientSecretChange($event)"></app-checkbox>
                    <input [type]="typeClientSecret" class="form-control" id="inputClientSecret" placeholder="Generate on Save" [(ngModel)]="client.clientSecret">
                  </div>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label" for="inputJwksUri">Public Key Set</label>
                </div>
                <div fxFlex="30%">
                  <input type="text" class="form-control" id="inputJwksUri" placeholder="https://" [(ngModel)]="client.jwksUri">
                  <label>URL for the client's JSON Web Key set (must be reachable by the server)</label>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
        <!-- END Credentials -->
        <!-- Tokens -->
        <ngb-tab title="Tokens">
          <ng-template ngbTabContent>
            <div class="form-horizontal">
              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Access Token Timeout</label>
                </div>
                <div fxFlex="30%">
                  <app-checkbox [(checked)]="cbAccessTokenValiditySeconds" text="Access tokens do not time out" (onChange)="accessTokenValiditySecondsChange($event)"></app-checkbox>
                  <div class="input-group">
                    <input type="text" class="form-control with-info-addon" placeholder="Access Token Timeout" aria-describedby="accessTokenValiditySeconds"
                      [(ngModel)]="client.accessTokenValiditySeconds" [disabled]="cbAccessTokenValiditySeconds">
                    <span class="input-group-addon input-group-addon-info addon-right" id="accessTokenValiditySeconds">seconds</span>
                  </div>
                  <label>Enter this time in seconds.</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">ID Token Timeout</label>
                </div>
                <div fxFlex="30%">
                  <div class="input-group">
                    <input type="text" class="form-control with-info-addon" placeholder="ID Token Timeout" aria-describedby="idTokenValiditySeconds"
                      [(ngModel)]="client.idTokenValiditySeconds">
                    <span class="input-group-addon input-group-addon-info addon-right" id="idTokenValiditySeconds">seconds</span>
                  </div>
                  <label>Enter this time in seconds.</label>
                </div>
              </div>

              <div fxLayout="row" class="form-group">
                <div fxFlex="10%" class="text-right">
                  <label class="form-control-label">Refresh Tokens</label>
                </div>
                <div fxFlex="30%">
                  <app-checkbox [(checked)]="cbRefreshToken" text="Refresh tokens are issued for this client" (onChange)="refreshTokenChange($event)"></app-checkbox>
                  <div *ngIf="cbRefreshToken">
                    <app-checkbox [(checked)]="client.reuseRefreshToken" text="Refresh tokens for this client are re-used"></app-checkbox>
                    <app-checkbox [(checked)]="client.clearAccessTokensOnRefresh" text="Active access tokens are automatically revoked when the refresh token is used"></app-checkbox>
                    <app-checkbox [(checked)]="cbRefreshTokenTimeout" text="Refresh tokens do not time out" (onChange)="refreshTokenTimeoutChange()"></app-checkbox>
                    <div class="input-group">
                      <input type="text" class="form-control with-info-addon" placeholder="ID Token Timeout" aria-describedby="idrefreshTokenValiditySeconds"
                        [(ngModel)]="client.refreshTokenValiditySeconds" [disabled]="cbRefreshTokenTimeout">
                      <span class="input-group-addon input-group-addon-info addon-right" id="idrefreshTokenValiditySeconds">seconds</span>
                    </div>
                    <label>Enter this time in seconds.</label>
                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
        <!-- END Tokens -->
      </ngb-tabset>
    </ba-card>

    <ba-card>
      <ul class="btn-list clearfix">
        <li>
          <button type="button" class="btn btn-success" (click)="save()"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Save</button>
        </li>
        <li>
          <button type="button" class="btn btn-default" routerLink="/pages/client"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        </li>
      </ul>
    </ba-card>

  </div>
</div>
